@charset "UTF-8";
/*:: Logic
 *---------------------------------------------------- */
/*:: Imports
 *---------------------------------------------------- */
/*:: Fonts ---------------------------------------------------- */
@font-face {
  font-family: "_font";
  src: url("fonts/_font.eot");
  src: url("fonts/_font.eot?#iefix") format("embedded-opentype"), url("fonts/_font.woff") format("woff"), url("fonts/_font.ttf") format("truetype"), url("fonts/_font.svg#Knockout") format("svg");
  font-weight: normal;
  font-style: normal; }
/*:: Logic ---------------------------------------------------- */
/*Color------------ */
/*Shortcuts------------ */
/*Boxed Styles------------ */
/*:: Toolbox
 *---------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1em; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: none; }

/*Default Styles */
body {
  color: #6e7076;
  font: normal 15px/24px "Open Sans", sans-serif; }

a {
  color: #59c4c6;
  text-decoration: underline; }
  a:hover, a:active, a:focus {
    color: #59c4c6;
    text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

strong {
  font-weight: bold; }
  strong a:hover {
    text-decoration: none; }

em {
  font-style: italic; }

h1 {
  border-bottom: 1px solid #59c4c6;
  color: #6d6e71;
  font: 30px/35px "Stag", Helvetica, Arial, sans-serif;
  margin: 14px 0 26px;
  text-transform: uppercase; }

h2 {
  color: #59c4c6;
  font: bold 30px/34px "Stag", Helvetica, Arial, sans-serif;
  margin-bottom: 18px;
  text-align: center; }
  h2 a {
    color: #6d6e71;
    text-decoration: none; }

h3 {
  color: #59c4c6;
  font: bold 20px/24px "Stag", Helvetica, Arial, sans-serif;
  margin: 0 0 4px 0;
  text-align: center; }
  h3 a {
    color: #59c4c6;
    text-decoration: none; }
    h3 a:hover {
      text-decoration: underline; }

h4 {
  font: bold 14px/18px "Stag", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase; }
  h4 a {
    color: #59c4c6;
    display: block;
    text-decoration: none; }
    h4 a:hover {
      text-decoration: underline; }

h5 {
  font-size: 12px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase; }

p {
  margin: 0 0 18px 0; }

ul {
  margin: 0 0 10px 20px;
  padding-bottom: 10px; }

ol {
  margin: 0 0 10px 20px;
  padding-bottom: 10px; }

li {
  list-style-position: outside;
  list-style-type: square;
  margin: 0 0 7px 0; }
  li ul, li ol {
    margin-top: 10px; }

dl {
  clear: both;
  margin: 20px 0; }
  * html dl {
    height: 1%;
    overflow: visible; }
  * + html dl {
    min-height: 1%; }
  dl:after {
    content: "";
    display: block;
    height: 0 !important;
    overflow: hidden;
    position: static !important;
    clear: both; }

dt {
  clear: left;
  float: left;
  font-family: "Stag";
  margin: 0 4% 10px 0;
  text-align: right;
  text-transform: uppercase;
  width: 10%; }
  dt:after {
    content: ":";
    display: inline-blick; }

dd {
  float: left;
  font-family: "Stag";
  margin: 0 0 10px;
  width: 86%; }

tr:nth-child(even) {
  background: #6e7076; }

th {
  border-bottom: 1px solid #6d6e71;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 10px 20px;
  vertical-align: middle; }

td {
  padding: 10px 20px;
  vertical-align: middle; }

::selection {
  background: #6e7076;
  color: white; }

::-moz-selection {
  background: #6e7076;
  color: white; }

.more {
  background: #59c4c6;
  color: white;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 10px;
  position: relative;
  text-decoration: none; }
  .more:after {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    content: "";
    display: inline-block;
    font: 10px/13px "Font Awesome";
    left: 0;
    padding-left: 5px;
    position: relative; }
  .more:hover {
    color: white; }
    .more:hover:after {
      left: 5px; }

p.required, span.required {
  color: #59c4c6;
  float: none !important;
  font-size: 11px;
  margin-bottom: 0;
  text-transform: uppercase; }

.note {
  font-size: smaller; }

.caption {
  clear: both;
  font-size: smaller;
  line-height: 18px;
  margin: 0; }

.btn {
  background: #59c4c6;
  border: 0px solid #59c4c6;
  border-radius: 0;
  cursor: pointer;
  color: white !important;
  display: inline-block;
  font: bold 16px/20px Helvetica, Arial, sans-serif;
  margin: 0 10px 18px 0;
  padding: 5px 25px 5px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .btn:hover {
    background-color: #37a2a4; }

.btn-2 {
  background: white;
  border: 0px solid #ededed;
  border-radius: 0;
  cursor: pointer;
  color: #59c4c6 !important;
  display: inline-block;
  font: bold 16px/20px Helvetica, Arial, sans-serif;
  margin: 0 10px 18px 0;
  padding: 5px 25px 5px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .btn-2:hover {
    background-color: #dddddd; }

.btn-3 {
  background: #6d6e71;
  border: 0px solid transparent;
  border-radius: 0;
  cursor: pointer;
  color: white !important;
  display: inline-block;
  font: bold 16px/20px Helvetica, Arial, sans-serif;
  margin: 0 10px 18px 0;
  padding: 5px 25px 5px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 4px 20px; }
  .btn-3:hover {
    background-color: #4b4c4f; }

.flush-right {
  clear: right;
  float: right;
  margin-right: -19px; }

.flush-left {
  clear: left;
  float: left;
  margin-left: -19px; }

.overflow-right {
  clear: right;
  float: right;
  margin: 0 -336px 20px 20px; }

.box-full {
  border-radius: 8px;
  clear: both;
  float: right;
  margin: 0 0 22px -22px;
  max-width: 680px; }

.box-right, .right {
  clear: right;
  float: right;
  margin: 0 0 30px 30px;
  max-width: 32%;
  text-align: right; }
  .box-right img, .box-right img, .right img, .right img {
    float: right;
    margin: 0 auto 10px auto;
    max-width: 100%; }

.box-small-right, .small-right {
  clear: right;
  float: right;
  margin: 0 0 30px 30px;
  max-width: 20%;
  text-align: right; }
  .box-small-right .box-small-right img, .small-right .box-small-right img {
    margin: 0 auto 10px auto; }

.box-left, .left {
  clear: right;
  float: left;
  margin: 0 30px 30px 0;
  max-width: 32%; }
  .box-left img, .box-left img, .left img, .left img {
    margin: 0 auto 10px auto; }

.box-small-left, .small-left {
  clear: left;
  float: left;
  margin: 0 30px 30px 0;
  max-width: 20%; }
  .box-small-left img, .small-left img {
    margin: 0 auto 10px auto; }

.box-bottom {
  background: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  clear: right;
  margin: 20px 0 0 0;
  padding: 10px; }
  .box-bottom img {
    margin: 0 auto; }

.field {
  clear: both;
  margin: 0 0 16px 0;
  padding: 0;
  position: relative;
  width: 100%; }
  * html .field {
    height: 1%;
    overflow: visible; }
  * + html .field {
    min-height: 1%; }
  .field:after {
    content: "";
    display: block;
    height: 0 !important;
    overflow: hidden;
    position: static !important;
    clear: both; }
  .field.error input, .field.error textarea {
    border-bottom: 4px solid #fe7200; }
  .field label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    font-size: 13px;
    padding: 6px 9px;
    width: 32%; }
  .field span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-right: 5%;
    padding: 6px 10px;
    width: 32%; }
    .field span.required {
      display: inline;
      padding: 0; }

.text input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  color: #6e7076;
  float: left;
  font: normal 15px/23px "Stag" Helvetica, Arial, sans-serif;
  height: 39px;
  padding: 6px 10px;
  width: 68%; }

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  color: #6e7076;
  float: left;
  font: normal 15px/24px "Stag" Helvetica, Arial, sans-serif;
  height: 94px;
  padding: 6px 10px;
  resize: vertical;
  width: 68%; }

input.text:-webkit-autofill, .text input:-webkit-autofill {
  background: red; }

select {
  font: normal 15px/20px "Stag" Helvetica, Arial, sans-serif;
  height: 36px;
  padding: 4px 6px 4px 10px;
  width: 68%; }

.radio input {
  display: inline-block;
  float: none; }
  .radio input[type='text'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 26px;
    line-height: 17px;
    margin: 3px;
    padding: 4px 5px;
    vertical-align: baseline;
    width: 30%; }
.radio label {
  display: inline-block;
  float: none;
  padding: 6px 4px;
  vertical-align: baseline;
  width: auto; }

.checkbox {
  background: transparent;
  border: none; }
  .checkbox label {
    display: inline-block;
    float: none;
    max-width: 90%;
    padding: 6px 10px;
    vertical-align: baseline;
    width: auto; }
  .checkbox input {
    display: inline-block;
    float: none;
    line-height: 20px;
    margin: 0 5px;
    vertical-align: baseline; }

.field.submit {
  clear: right;
  float: right;
  margin: 30px 0 0 0;
  width: auto; }
  .field.submit button, .field.submit input {
    background: #59c4c6;
    border: 0px solid #59c4c6;
    border-radius: 0;
    cursor: pointer;
    color: white !important;
    display: inline-block;
    font: bold 16px/20px Helvetica, Arial, sans-serif;
    margin: 0 10px 18px 0;
    padding: 5px 25px 5px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background: #7be6e8 !important;
    color: white !important;
    display: block;
    width: 100%; }
    .field.submit button:hover, .field.submit input:hover {
      background-color: #37a2a4; }
    .field.submit button:hover, .field.submit input:hover {
      background: #9dffff !important; }
  .field.submit .reset {
    background: none;
    box-shadow: none;
    color: #59c4c6;
    font-weight: 600;
    line-height: 31px;
    padding: 0 10px 0 0; }

fieldset {
  border: 1px dotted #6d6e71;
  padding: 10px; }

legend {
  font: bold 22px/30px "Stag" Helvetica, Arial, sans-serif;
  padding: 5px; }

.success {
  background: #d5f4c8;
  border-bottom: 1px solid #65de2f;
  border-top: 1px solid #65de2f;
  margin-top: 30px;
  padding: 20px 20px 7px;
  text-align: center; }
  .success h2 {
    color: #6e7076;
    text-align: center; }

/*:: BX Slider Reset
 *---------------------------------------------------- */
.bx-wrapper {
  margin-bottom: 0; }
  .bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
    left: 0; }
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: white;
    height: 8px;
    width: 8px; }
    .bx-wrapper .bx-pager.bx-default-pager a.active {
      background: #59c4c6; }

/*:: Skeleton
 *---------------------------------------------------- */
body.no-scroll {
  overflow: hidden; }

#container {
  background: white;
  left: 0;
  overflow-x: hidden;
  -moz-transition: left 0.2s linear;
  -webkit-transition: left 0.2s linear;
  -o-transition: left 0.2s linear;
  transition: left 0.2s linear; }

#main {
  padding: 0; }

.inner {
  max-width: 940px;
  padding-bottom: 50px;
  position: relative; }

/*Bootstrap Reset */
.row {
  margin: 0; }

/*:: Reusable Elements
 *---------------------------------------------------- */
.promo {
  margin-bottom: 45px; }
  .promo .inner {
    padding-bottom: 0; }
  .promo .content {
    background: #59c4c6;
    display: block; }
    * html .promo .content {
      height: 1%;
      overflow: visible; }
    * + html .promo .content {
      min-height: 1%; }
    .promo .content:after {
      content: "";
      display: block;
      height: 0 !important;
      overflow: hidden;
      position: static !important;
      clear: both; }
    .promo .content:hover p:after {
      right: -10px; }
  .promo .main-image {
    float: left;
    overflow: hidden;
    position: relative;
    width: 37%; }
    .promo .main-image:before {
      background: #59c4c6;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 17px; }
    .promo .main-image:after {
      background: rgba(89, 196, 198, 0.5);
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 24px; }
    .promo .main-image img {
      min-width: 345px; }
  .promo p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    float: left;
    font: bold 24px/28px "Stag", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 24px 43px;
    position: relative;
    width: 59%; }
    .promo p:after {
      background-image: url(../images/icon-arrow-right.png);
      background-position: center right;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 26px;
      margin-top: -13px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 20px;
      -moz-transition: right 0.2s linear;
      -webkit-transition: right 0.2s linear;
      -o-transition: right 0.2s linear;
      transition: right 0.2s linear; }

.modal-wrapper {
  display: none;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 3000px;
  width: 100%;
  z-index: 9999; }

.modal {
  background: #6d6e71;
  bottom: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  color: white;
  display: block;
  margin: 10% auto;
  padding: 20px;
  position: absolute;
  width: 50%; }
  .modal iframe {
    height: 400%;
    width: 100%; }
  .modal #content {
    padding: 20px;
    width: auto; }
  .modal h1, .modal h2 {
    color: white; }
  .modal a:hover {
    color: white; }
  .modal .close {
    background: #59c4c6;
    color: white;
    font-size: 26px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 40px; }

/*:: Header
 *---------------------------------------------------- */
#header {
  height: 114px;
  position: relative;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  #header.scrolled {
    background-position: bottom left;
    padding-bottom: 50px; }
  #header .inner {
    max-width: none;
    padding-bottom: 0; }
    #header .inner:after {
      display: none; }

.main-nav {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #59c4c6;
  bottom: 0;
  left: 0;
  padding: 0px 40px;
  position: absolute;
  right: 0; }
  .main-nav.scrolled {
    background: rgba(255, 255, 255, 0.95);
    bottom: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000; }
    .main-nav.scrolled a {
      color: #6e7076;
      padding-bottom: 18px;
      padding-top: 18px; }
      .main-nav.scrolled a:hover {
        background: #eeeeee; }
      .main-nav.scrolled a.active:hover {
        background: #37a2a4; }
    .main-nav.scrolled li:before {
      border-color: #6e7076; }
  .main-nav ul {
    margin: 0;
    padding-bottom: 0;
    position: relative;
    text-align: center; }
  .main-nav li {
    display: inline-block;
    margin: 0;
    vertical-align: middle; }
    .main-nav li:before {
      border-right: 3px white solid;
      color: white;
      content: "";
      display: inline-block;
      height: 20px;
      margin: 0 10px;
      text-align: center;
      vertical-align: middle; }
    .main-nav li:first-child:before {
      display: none; }
  .main-nav a {
    background: rgba(255, 255, 255, 0);
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 11px 10px;
    text-decoration: none;
    -moz-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear; }
    .main-nav a:hover {
      background: #48b3b5; }
    .main-nav a.active {
      background: #59c4c6;
      color: white; }

#site-id {
  display: block;
  left: 24px;
  position: absolute;
  top: 10px;
  width: 212px; }
  #site-id img {
    max-width: 370px;
    width: 100%; }

#utility-nav {
  position: absolute;
  right: 24px;
  top: 24px; }
  #utility-nav ul {
    margin: 0;
    padding: 0; }
  #utility-nav li {
    display: inline-block;
    font-size: 12px;
    line-height: 23px;
    margin: 0;
    vertical-align: middle; }
    #utility-nav li.mobile-nav-trigger {
      color: #6e7076;
      cursor: pointer;
      display: none;
      font-family: "Font Awesome";
      font-size: 30px;
      padding-left: 20px;
      text-decoration: none; }
      #utility-nav li.mobile-nav-trigger:before {
        display: none; }
    #utility-nav li:before {
      border-right: 2px #6e7076 solid;
      color: white;
      content: "";
      display: inline-block;
      height: 23px;
      margin: 0 10px;
      text-align: center;
      vertical-align: middle; }
    #utility-nav li:first-child:before {
      display: none; }
    #utility-nav li.search {
      border: 1px solid #6e7076;
      border-radius: 3px;
      margin-left: 40px;
      padding: 0 10px; }
      #utility-nav li.search:before {
        display: none; }
      #utility-nav li.search span {
        display: none; }
      #utility-nav li.search label {
        display: inline-block;
        vertical-align: middle; }
      #utility-nav li.search input {
        border: none;
        vertical-align: middle; }
      #utility-nav li.search .search-submit {
        background: url(../images/icon-search.png) no-repeat center center;
        background-size: contain;
        border: none;
        content: "";
        cursor: pointer;
        display: inline-block;
        height: 10px;
        text-indent: -9999px;
        width: 10px; }
  #utility-nav a {
    color: #6e7076; }

.mobile-nav {
  background: #59c4c6;
  display: none;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%; }
  .mobile-nav ul {
    margin: 0;
    padding: 10px 0; }
  .mobile-nav li {
    border-top: 1px solid white;
    display: block;
    margin: 0; }
    .mobile-nav li:first-child {
      border: none; }
    .mobile-nav li.search {
      background: white;
      border: 1px solid white;
      border-radius: 3px;
      float: right;
      margin: 20px 20px 0 40px;
      padding: 0 10px; }
      .mobile-nav li.search:before {
        display: none; }
      .mobile-nav li.search span {
        display: none; }
      .mobile-nav li.search label {
        display: inline-block;
        vertical-align: middle; }
      .mobile-nav li.search input {
        background: none;
        border: none;
        font-size: 12px;
        vertical-align: middle; }
      .mobile-nav li.search .search-submit {
        background: url(../images/icon-search.png) no-repeat center center;
        background-size: contain;
        border: none;
        content: "";
        cursor: pointer;
        display: inline-block;
        height: 10px;
        text-indent: -9999px;
        width: 10px; }
  .mobile-nav a {
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 10px 15%;
    text-align: right;
    text-decoration: none; }

/*:: Default
 *---------------------------------------------------- */
section h2 {
  background: #6d6e71;
  color: white;
  padding: 5px 10%; }

.section-image {
  width: 100%; }

.image-wrapper {
  position: relative; }
  .image-wrapper:after {
    background: #59c4c6;
    bottom: 0;
    content: "";
    height: 30px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%; }

/*:: Splash
 *---------------------------------------------------- */
#splash {
  position: relative; }
  #splash:after {
    background: #59c4c6;
    box-shadow: 0 -12px 0 rgba(89, 196, 198, 0.5);
    content: "";
    display: block;
    height: 44px;
    position: relative; }
  #splash .slider {
    padding: 0;
    position: relative;
    z-index: 10; }
    #splash .slider article {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      border-radius: 0;
      box-shadow: none;
      height: 481px;
      min-height: 200px;
      overflow: visible;
      position: relative; }
  #splash .caption {
    background: rgba(89, 196, 198, 0.9);
    bottom: 65px;
    color: white;
    padding: 30px;
    position: absolute;
    right: 150px;
    width: 325px; }
  #splash h1 {
    border: none;
    color: white;
    font: bold 22px/26px "Stag", Helvetica, Arial, sans-serif;
    margin: 10px 0 0;
    text-transform: none; }
  #splash .bx-pager {
    bottom: 43px;
    position: absolute;
    right: 24px;
    width: auto; }
  #splash .bx-pager-item {
    display: block;
    margin-top: 10px; }
  #splash .ask-our-expert {
    background: #6d6e71;
    border-radius: 0 0 40px 40px;
    cursor: pointer;
    padding: 19px 35px;
    position: absolute;
    right: 55px;
    text-decoration: none;
    top: 0;
    width: 224px; }
    #splash .ask-our-expert img {
      float: left;
      margin-right: 15px;
      width: 30px; }
    #splash .ask-our-expert h4 {
      color: white;
      margin: 0; }
    #splash .ask-our-expert p {
      color: white;
      font-size: 13px;
      line-height: 13px;
      margin: 0; }

/*:: Content
 *---------------------------------------------------- */
#content {
  margin-top: 79px; }
  #content h2 {
    background: none;
    color: #6e7076;
    font-size: 24px;
    line-height: 28px;
    padding: 0;
    text-align: left; }
    #content h2 .sub {
      display: block;
      font-size: 18px;
      line-height: 22px; }
  #content .main-image {
    background: #59c4c6;
    margin-bottom: 30px;
    padding: 0;
    position: relative; }
    #content .main-image:before {
      background: #59c4c6;
      content: "";
      box-shadow: 16px 0 0 rgba(89, 196, 198, 0.5);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 46px; }
    #content .main-image:after {
      content: "";
      display: block;
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;
      width: 24px; }
  #content .content {
    padding: 0 18px 0 0; }
  #content .tagline {
    clear: both;
    font: bold 22px/25px "Stag", Helvetica, Arial, sans-serif;
    padding-top: 30px;
    text-align: center; }

/*:: Conditions We Treat
 *---------------------------------------------------- */
#conditions .widget {
  background: #59c4c6 url(../images/bg-conditions.jpg) no-repeat top right;
  background-size: cover; }
  * html #conditions .widget {
    height: 1%;
    overflow: visible; }
  * + html #conditions .widget {
    min-height: 1%; }
  #conditions .widget:after {
    content: "";
    display: block;
    height: 0 !important;
    overflow: hidden;
    position: static !important;
    clear: both; }
#conditions a {
  -moz-transition: box-shadow 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear; }
  #conditions a:hover {
    box-shadow: inset 0 0 0 3px rgba(109, 110, 113, 0.4);
    text-decoration: none; }
#conditions header {
  padding: 0; }
  #conditions header h3 {
    background: #59c4c6;
    margin: 0; }
    #conditions header h3.active {
      background: rgba(109, 110, 113, 0.2) !important; }
  #conditions header a {
    color: white;
    display: block;
    padding: 27px 20px; }
#conditions .main-categories {
  background: rgba(109, 110, 113, 0.2);
  overflow: auto;
  padding: 0 0 0 13px; }
  #conditions .main-categories ul {
    margin: 0;
    padding: 13px 0; }
  #conditions .main-categories li {
    display: block; }
    #conditions .main-categories li.active {
      background: rgba(109, 110, 113, 0.2) !important; }
  #conditions .main-categories a {
    color: white;
    display: block;
    font: 16px/20px "Stag", Helvetica, Arial, sans-serif;
    padding: 10px 20px;
    text-decoration: none; }
    #conditions .main-categories a.active {
      background: rgba(109, 110, 113, 0.8) !important; }
#conditions .sub-categories {
  background: rgba(109, 110, 113, 0.8);
  color: white;
  overflow: auto;
  padding: 23px 35px; }
#conditions .close {
  background: #59c4c6;
  color: white;
  display: none;
  font-size: 26px;
  height: 40px;
  line-height: 40px;
  opacity: 1;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 40px; }

/*:: Why Choose
 *---------------------------------------------------- */
#why-choose article {
  color: white;
  padding: 0 6px;
  text-align: center; }
  #why-choose article:last-child {
    padding: 0 0 0 12px; }
  #why-choose article:first-child {
    padding: 0 12px 0 0; }
  #why-choose article h3 {
    color: white; }
#why-choose .article-inner {
  background: #59c4c6;
  padding: 17px 20px; }
#why-choose .tagline {
  clear: both;
  font: bold 18px/22px "Stag", Helvetica, Arial, sans-serif;
  margin-top: 30px;
  text-align: center; }

/*:: Physicians
 *---------------------------------------------------- */
#physicians header {
  background: #59c4c6;
  color: white;
  float: left;
  margin-left: 18px;
  width: 174px; }
  #physicians header img {
    margin: 51px auto 12px;
    width: 31px; }
  #physicians header h3 {
    color: white; }
#physicians .slider-wrapper {
  float: left;
  height: 174px;
  margin-left: 18px;
  padding: 0;
  width: 602px; }
#physicians .slider a {
  display: block;
  height: 174px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
#physicians .slider h4 {
  background: #59c4c6;
  bottom: 0;
  box-shadow: 0 -11px 0 rgba(89, 196, 198, 0.5);
  color: white;
  font: normal 13px/16px "Open Sans", sans-serif;
  left: 0;
  margin: 0;
  padding: 6px 10px;
  position: absolute;
  text-align: center;
  text-transform: none;
  width: 100%; }
#physicians .arrow {
  display: block;
  float: none;
  opacity: 0.8;
  -moz-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  #physicians .arrow:hover {
    opacity: 1; }
  #physicians .arrow a {
    background-size: 15px;
    display: block;
    text-indent: -9999px; }
  #physicians .arrow .bx-prev {
    background-color: #59c4c6;
    background-image: url(../images/icon-arrow-left.png);
    background-repeat: no-repeat;
    background-position: center center; }
  #physicians .arrow .bx-next {
    background-color: #59c4c6;
    background-image: url(../images/icon-arrow-right.png);
    background-repeat: no-repeat;
    background-position: center center; }
#physicians .back-wrapper {
  float: left;
  width: 40px; }
#physicians .forward-wrapper {
  float: left;
  margin-left: 18px;
  width: 40px; }

/*:: Locations
 *---------------------------------------------------- */
#locations .map {
  height: 330px; }
  #locations .map img {
    max-width: none; }
  #locations .map p {
    line-height: 16px; }
#locations .list {
  background: #59c4c6;
  padding: 20px; }
  #locations .list ul {
    margin: 0;
    padding: 0;
    text-align: center; }
  #locations .list li {
    display: inline-block;
    margin: 0 0 6px; }
  #locations .list a {
    background: transparent;
    border: 1px solid #48b3b5;
    color: white;
    display: block;
    font-size: 12px;
    padding: 2px 6px 2px 26px;
    position: relative;
    text-decoration: none;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear; }
    #locations .list a:hover {
      background: #37a2a4;
      border-color: #37a2a4; }
    #locations .list a:before {
      background-image: url(images/icon-marker-white.png);
      background-position: center right;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 17px;
      left: 10px;
      margin-right: 6px;
      position: absolute;
      top: 6px;
      vertical-align: top;
      width: 11px;
      -moz-transition: right 0.2s linear;
      -webkit-transition: right 0.2s linear;
      -o-transition: right 0.2s linear;
      transition: right 0.2s linear; }

/*:: Footer
 *---------------------------------------------------- */
footer {
  color: white;
  padding: 10px 0 10px; }
  footer .inner {
    padding-bottom: 0; }
    footer .inner:after {
      display: none; }

.footer-meta {
  background: #6d6e71;
  display: table;
  padding: 30px 20px;
  width: 100%; }
  .footer-meta p {
    display: table-cell; }
  .footer-meta a {
    color: white;
    padding: 10px 20px;
    text-decoration: none; }
  .footer-meta span {
    background: #e9ad3e;
    border-radius: 300px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 26px; }
  .footer-meta .icon {
    font-family: "font awesome"; }

#footer-nav {
  padding: 20px 0;
  text-align: center; }
  #footer-nav ul {
    margin: 0;
    padding: 0; }
  #footer-nav li {
    color: #6e7076;
    display: inline-block;
    margin: 0;
    padding: 0; }
    #footer-nav li:before {
      border-right: 3px #6e7076 solid;
      content: "";
      display: inline-block;
      height: 20px;
      margin: 0 10px;
      text-align: center;
      vertical-align: text-top; }
    #footer-nav li:first-child:before {
      display: none; }
  #footer-nav a {
    color: #6e7076;
    text-decoration: none; }

/*:: Additional Responsive
 *---------------------------------------------------- */
@media (max-width: 940px) {
  .inner {
    padding: 0;
    margin: 0 auto;
    padding: 0 5%; }

  h2 {
    font-size: 30px; }

  #header {
    background: white;
    height: auto;
    padding: 10px !important;
    position: static; }
    * html #header {
      height: 1%;
      overflow: visible; }
    * + html #header {
      min-height: 1%; }
    #header:after {
      content: "";
      display: block;
      height: 0 !important;
      overflow: hidden;
      position: static !important;
      clear: both; }

  #site-id {
    display: block;
    margin: 0 auto 20px;
    position: static; }

  #utility {
    position: static;
    text-align: center; }

  .main-nav {
    display: none; }

  #utility-nav {
    position: static; }
    #utility-nav li {
      display: none; }
      #utility-nav li.mobile-nav-trigger {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px; }

  .mobile-nav {
    display: block; }

  #container {
    background: white;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }
    #container.slide {
      left: -80%;
      overflow: hidden; }

  #splash .caption {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    height: 100%;
    right: 0;
    width: 100%; }
    #splash .caption .author {
      text-align: left; }
  #splash .ask-our-expert {
    border-radius: 10px 10px 0 0;
    bottom: 0;
    margin-right: -90px;
    padding: 10px 15px;
    right: 50%;
    top: auto;
    width: 180px;
    z-index: 9000; }

  .tagline br {
    display: none; }

  #content {
    margin-top: 30px; }

  #why-choose article {
    padding: 0 0 10px !important; }

  #conditions {
    margin-bottom: 45px; }
    #conditions .widget {
      background: #6e7076; }
    #conditions header {
      display: table;
      height: auto !important;
      width: 100%; }
      #conditions header h3 {
        display: table-cell;
        float: none;
        padding: 0;
        vertical-align: middle; }
        #conditions header h3 a:hover {
          box-shadow: none; }
    #conditions .main-categories {
      height: auto !important; }
    #conditions .sub-categories {
      background: #6d6e71;
      bottom: 0;
      height: auto !important;
      left: 0;
      padding-top: 30%;
      position: fixed;
      right: 0;
      top: 0;
      width: auto;
      z-index: 9999; }
    #conditions .close {
      display: block; }

  #physicians {
    margin-bottom: 45px; }
    #physicians .widget {
      padding-top: 62px;
      position: relative; }
    #physicians header {
      height: auto !important;
      left: 10%;
      margin: 0 10px;
      padding: 10px 0;
      position: absolute;
      right: 10%;
      top: 0;
      width: auto; }
      #physicians header img {
        display: none; }
      #physicians header h3 {
        margin: 0; }
    #physicians .arrow {
      position: absolute;
      top: 0;
      width: 10%; }
      #physicians .arrow a {
        height: auto !important;
        padding: 10px 0; }
    #physicians .back-wrapper {
      left: 0; }
    #physicians .forward-wrapper {
      right: 0; }
    #physicians .slider-wrapper {
      margin-left: 0;
      width: 100%; }

  * html #locations .list {
    height: 1%;
    overflow: visible; }
  * + html #locations .list {
    min-height: 1%; }
  #locations .list:after {
    content: "";
    display: block;
    height: 0 !important;
    overflow: hidden;
    position: static !important;
    clear: both; }
  #locations .list ul {
    float: left;
    padding-right: 5%;
    width: 50%; }
    #locations .list ul:nth-child(odd) {
      clear: left; }
  #locations .list li {
    display: block;
    line-height: 16px;
    margin-bottom: 10px;
    text-align: left; }
    #locations .list li:before {
      display: none; }

  footer .footer-meta p {
    display: block; }
    footer .footer-meta p.social {
      float: left; } }
@media (max-width: 550px) {
  * html #header {
    height: 1%;
    overflow: visible; }
  * + html #header {
    min-height: 1%; }
  #header:after {
    content: "";
    display: block;
    height: 0 !important;
    overflow: hidden;
    position: static !important;
    clear: both; }

  #site-id {
    margin: 10px auto;
    width: 130px; }

  #utility-nav {
    position: static; }

  .promo .main-image {
    float: none;
    width: 100%; }
    .promo .main-image img {
      min-width: 0;
      width: 100%; }
  .promo p {
    float: none;
    margin-right: 30px;
    width: auto; }

  .modal {
    width: 100%; } }
